<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.paipianwang.pat.facade.team.service.dao.impl.PmsProvinceDaoImpl">

	<!-- 产品信息表 -->
	<sql id="pms_Province"> PROVINCE </sql>

	<select id="findAll" resultType="PmsProvince">
		SELECT 
			ID AS id,
			PROVINCEID AS provinceID,
			PROVINCE AS provinceName
		FROM 
		<include refid="pms_Province" /> 
	</select>
</mapper>