<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.paipianwang.pat.facade.team.service.dao.impl.PmsTeamTmpDaoImpl">

	<!-- 产品信息表 -->
	<sql id="pms_TeamTmp"> TEAM_TMP </sql>
	<sql id="pms_Team"> TEAM </sql> 
	<sql id="pms_Province"> PROVINCE </sql>
	<sql id="pms_City"> CITY </sql>

	<update id="delTeamTmpByTeamId">
		UPDATE 
		<include refid="pms_TeamTmp" /> 
		<set>
		 STATUS = 0
		</set>
		<where>
			TEAM_ID = #{teamId}
		</where>
	</update>
	
	
	<insert id="addTeamTmp" useGeneratedKeys="true" keyProperty="id"
		parameterType="PmsTeamTmp">
		<![CDATA[
			INSERT INTO TEAM_TMP (
				TEAM_ID ,
				TEAM_NAME ,
				LINKMAN ,
				WEBCHAT,
				QQ,
				EMAIL,
				ADDRESS,
				TEAM_PROVINCE,
				TEAM_CITY,
				PRICE_RANGE,
				INFO_RESOURCE,
				BUSINESS,
				TEAM_DESCRIPTION,
				SCALE,
				DEMAND,
				CREATE_TIME,
				STATUS,
				CHECK_STATUS,
				CHECK_DETAILS,
				ESTABLISHDATE,
				OFFICIALSITE,
				BUSINESS_DESCRIPTION,
				TEAMPHOTOURL
			) VALUES (
				${teamId},
				#{teamName},
				#{linkMan},
				#{webchat},
				#{qq},
				#{email},
				#{address},
				#{teamProvince},
				#{teamCity},
				#{priceRange},
				#{infoResource},
				#{business},
				#{teamDescription},
				#{scale},
				#{demand},
				CURRENT_TIMESTAMP,
				#{status},
				#{checkStatus},
				#{checkDetails},
				#{establishDate},
				#{officialSite},
				#{businessDescription},
				#{teamPhotoUrl}
			)
		]]>
	</insert>
	
	<select id="doesHaveLatestEnableTmpByTeamId" resultType="PmsTeamTmp">
		SELECT 
			tt.id,
			TEAM_ID teamId,
			TEAM_NAME teamName,
			LINKMAN linkMan,
			WEBCHAT webchat,
			QQ qq,
			EMAIL email,
			ADDRESS address,
			TEAM_PROVINCE teamProvince,
			TEAM_CITY teamCity,
			PRICE_RANGE priceRange,
			INFO_RESOURCE infoResource,
			BUSINESS business,
			TEAM_DESCRIPTION teamDescription,
			SCALE scale ,
			DEMAND demand,
			CREATE_TIME createTime,
			`STATUS` `status`,
			CHECK_STATUS checkStatus ,
			CHECK_DETAILS checkDetails,
			ESTABLISHDATE establishDate,
			OFFICIALSITE officialSite,
			BUSINESS_DESCRIPTION businessDescription,
			TEAMPHOTOURL teamPhotoUrl
		 FROM 
		 <include refid="pms_TeamTmp" />  tt
		 <where>
		 	TEAM_ID = #{teamId} AND STATUS = 1 AND CHECK_STATUS != 1
		 </where>
		 	ORDER BY id desc
	</select>
	
	<select id="getLatestTmpByTeamId" resultType="PmsTeam">
		SELECT 
			tt.id,	
			tt.TEAM_ID teamId,
			tt.TEAM_NAME teamName,
			tt.LINKMAN linkMan,
			tt.WEBCHAT webchat,
			tt.QQ qq,
			tt.EMAIL email,
			tt.ADDRESS address,
			tt.TEAM_PROVINCE teamProvince,
			tt.TEAM_CITY teamCity,
			tt.PRICE_RANGE priceRange,
			tt.INFO_RESOURCE infoResource,
			tt.BUSINESS business,
			tt.TEAM_DESCRIPTION teamDescription,
			tt.SCALE scale ,
			tt.DEMAND demand,
			tt.ESTABLISHDATE establishDate,
			tt.OFFICIALSITE officialSite,
			tt.BUSINESS_DESCRIPTION businessDesc,
			tt.CHECK_STATUS checkStatus,
			tt.CHECK_DETAILS checkDetails,
			tt.TEAMPHOTOURL teamPhotoUrl,
			t.PHONENUMBER phoneNumber,
			t.RECOMMENDATION recommendation,
			t.FLAG flag,
			t.LOGINNAME AS loginName,
			t.DESCRIPTION description
		 FROM  
		 <include refid="pms_TeamTmp" />  tt
		 LEFT JOIN  
		 <include refid="pms_Team" />  t
		 ON tt.TEAM_ID = t.TEAMID
		 <where>
			 TEAM_ID = #{teamId} AND STATUS = 1
		 </where>
	</select>
	
	<select id="listPage" resultType="PmsTeamTmp">
		SELECT tt.ID,tt.TEAM_ID teamId,
	           tt.TEAM_NAME teamName,tt.LINKMAN linkMan,
	           tt.WEBCHAT webchat,tt.QQ qq,tt.EMAIL email,
	           tt.ADDRESS address,tt.TEAM_PROVINCE teamProvince,
	           tt.TEAM_CITY teamCity,tt.PRICE_RANGE  priceRange,
	           tt.INFO_RESOURCE infoResource,tt.BUSINESS business,
	           tt.TEAM_DESCRIPTION teamDescription,tt.SCALE scale,
	           tt.DEMAND demand,tt.CREATE_TIME createTime,tt.STATUS `status`,
	           tt.CHECK_STATUS checkStatus,tt.CHECK_DETAILS checkDetails,
	           tt.ESTABLISHDATE establishDate,tt.OFFICIALSITE officialSite,
	           tt.BUSINESS_DESCRIPTION businessDescription,
	           p.PROVINCE AS teamProvinceName,
	           c.CITY AS teamCityName,
	           tt.TEAMPHOTOURL AS teamPhotoUrl
		FROM  
		<include refid="pms_TeamTmp" />  tt
		LEFT JOIN  
		<include refid="pms_Province" /> p
		 	ON tt.TEAM_PROVINCE = p.provinceID 
		LEFT JOIN
		<include refid="pms_City" /> c 
			on tt.TEAM_CITY = c.cityID
		<where>
			tt.STATUS = 1 AND tt.CHECK_STATUS != 1
		</where>
		ORDER BY tt.ID desc
		LIMIT ${begin} , ${limit}
	</select>
	<select id="listPageCount" resultType="long">
		SELECT COUNT(1)
			FROM 
			<include refid="pms_TeamTmp" />  tt
			<where>
				tt.STATUS = 1 AND tt.CHECK_STATUS != 1
			</where>
	</select>
	
	<update id="updateTeamTmpCheck">
		UPDATE 
		<include refid="pms_TeamTmp" />
		<set>
			CHECK_STATUS = ${checkStatus},
			CHECK_DETAILS = #{checkDetails}
		</set>
		<where>
			ID = #{id}
		</where>
	</update>
	<select id="getTeamTmpByTeamId" resultType="PmsTeamTmp">
		SELECT 
			tt.id,
			TEAM_ID teamId,
			TEAM_NAME teamName,
			LINKMAN linkMan,
			WEBCHAT webchat,
			QQ qq,
			EMAIL email,
			ADDRESS address,
			TEAM_PROVINCE teamProvince,
			TEAM_CITY teamCity,
			PRICE_RANGE priceRange,
			INFO_RESOURCE infoResource,
			BUSINESS business,
			TEAM_DESCRIPTION teamDescription,
			SCALE scale ,
			DEMAND demand,
			CREATE_TIME createTime,
			`STATUS` `status`,
			CHECK_STATUS checkStatus ,
			CHECK_DETAILS checkDetails,
			ESTABLISHDATE establishDate,
			OFFICIALSITE officialSite,
			BUSINESS_DESCRIPTION businessDescription,
			p.PROVINCE AS teamProvinceName,
			c.CITY AS teamCityName ,
			tt.TEAMPHOTOURL AS teamPhotoUrl
		 FROM 
		 <include refid="pms_TeamTmp" /> tt
		 LEFT JOIN  
		 <include refid="pms_Province" /> p
		  	ON tt.TEAM_PROVINCE = p.provinceID 
		LEFT JOIN 
		<include refid="pms_City" /> c 
			ON tt.TEAM_CITY = c.cityID
		<where>
			TEAM_ID = ${_parameter} AND STATUS = 1
		</where>
		 ORDER BY id desc
	</select>
	<select id="getTeamTmpById" resultType="PmsTeamTmp">
		SELECT 
			id,
			TEAM_ID teamId,
			TEAM_NAME teamName,
			LINKMAN linkMan,
			WEBCHAT webchat,
			QQ qq,
			EMAIL email,
			ADDRESS address,
			TEAM_PROVINCE teamProvince,
			TEAM_CITY teamCity,
			PRICE_RANGE priceRange,
			INFO_RESOURCE infoResource,
			BUSINESS business,
			TEAM_DESCRIPTION teamDescription,
			SCALE scale ,
			DEMAND demand,
			CREATE_TIME createTime,
			`STATUS` `status`,
			CHECK_STATUS checkStatus ,
			CHECK_DETAILS checkDetails,
			ESTABLISHDATE establishDate,
			OFFICIALSITE officialSite,
			BUSINESS_DESCRIPTION businessDescription,
			TEAMPHOTOURL teamPhotoUrl
		 FROM  
		 <include refid="pms_TeamTmp" />
		 <where>
		 	id = ${_parameter}
		 </where>
	</select>
</mapper>